# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Anki-specific files
*.anki2
*.db
*.sqlite
*.ankiaddon
user_files/
collection.media/
backups/
meta.json
prefs*.json

# Editor/IDE specific files
.idea/
.vscode/
*.swp
*.swo
*~
.project
.classpath
.settings/
.DS_Store

# Environment and virtual environment files
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# OS specific files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Linux
.directory
.Trash-*

# Logs and databases
*.log
*.sqlite3

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Project specific
meta.json
manifest.json.backup 